<p id="notice"><%= notice %></p>

<h2 class="subject">  <%= @notebook.subject %> </h2>



<div class="leftSide">
  <div class="noteForm">
    <%= form_for(@note, remote: true) do |f| %>
      <% if @note.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

          <ul>
          <% @note.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <h4>Note</h4><br>
        <%= f.text_area :note %>
      </div>
      <div class="field">
        <%= f.hidden_field :notebook_id, :value => @notebook.id  %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>

  <% @notes.each do |note| %>
    <p class="noteDescription"><tr>
      <td><%= note.note %></td></p>
      <p class="showEditDestroy"><td><%= link_to 'Show', note %></td>
      <td><%= link_to 'Edit', edit_note_path(note) %></td>
      <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr></p>
  <% end %>
</div>


<div class="rightSide">
  <div class="keywordForm">
    <%= form_for(@keyword, remote: true) do |f| %>
      <% if @keyword.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>

          <ul>
          <% @keyword.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :word %><br>
        <%= f.text_field :word %>
      </div>
      <div class="field">
        <%= f.label :definition %><br>
        <%= f.text_area :definition %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
  <% @keywords.each do |keyword| %>
    <tr>
      <td><%= keyword.word %></td>
      <td><%= keyword.definition %></td>
      <td><%= link_to 'Show', keyword %></td>
      <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
      <td><%= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= link_to 'New Keyword', new_keyword_path %>

  <div class="questionForm">
    <%= form_for(@question, remote: true) do |f| %>
      <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

          <ul>
          <% @question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :question %><br>
        <%= f.text_field :question %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>

  <% @questions.each do |question| %>
    <tr>
      <td><%= question.question %></td>
      <td><%= link_to 'Show', question %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= link_to 'New Question', new_question_path %>

</div>


<div id="linkBack">
  <%= link_to 'Edit This Notebook', edit_notebook_path(@notebook) %> |
  <%= link_to 'Back to Index', notebooks_path %>
</div>
